:root {
  --brightness: 100%;

  --volume-master: 100%;
  --volume-media: 100%;
  --volume-notify: 100%;
  --volume-tts: 100%;
  --volume-system: 100%;

  --font-family:
    "Segoe UI", "Noto Sans KR", "Malgun Gothic", system-ui, sans-serif;
}

html {
  overscroll-behavior-y: none;
}

*,
*::before,
*::after {
  font-family: var(--font-family);
  font-size: 1.2rem;
}

html[data-access] body {
  visibility: hidden;
}
