.checkbox {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
  min-height: var(--button-size);
  padding: 0 var(--space-4);
  border-radius: var(--radius);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.checkbox[data-background] {
  background: var(--surface);
}

.checkbox > label {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  width: 100%;
  min-height: inherit;
  cursor: inherit;
}

.checkbox input {
  appearance: none;
  -webkit-appearance: none;
  display: grid;
  flex: none;
  width: 2rem;
  height: 2rem;
  margin: 0;
  border: 0;
  background: transparent;
  cursor: inherit;
  place-items: center;
}

.checkbox input::before {
  width: 1.4rem;
  height: 0.75rem;
  border-inline-start: 4px solid var(--focus);
  border-block-end: 4px solid var(--focus);
  content: "";
  opacity: 0;
  transform: translateY(-2px) rotate(-45deg) scale(0.75);
  transition:
    opacity var(--duration-2),
    transform var(--duration-2);
}

.checkbox input:checked::before {
  opacity: 1;
  transform: translateY(-2px) rotate(-45deg) scale(1);
}

.checkbox:has(input:focus-visible) {
  outline: 2px solid var(--focus);
  outline-offset: 2px;
}

.checkbox input:focus-visible {
  outline: 0;
}

.checkbox:has(input:disabled) {
  cursor: default;
  opacity: 0.5;
}

.checkbox[data-background]:has(input:enabled):active {
  background-image: linear-gradient(var(--pointer), var(--pointer));
}

@media (hover: hover) and (pointer: fine) {
  .checkbox[data-background]:has(input:enabled):hover {
    background-image: linear-gradient(var(--pointer), var(--pointer));
  }
}
