dialog[data-overlay] {
  width: 0;
  height: 0;
  margin: auto;
  padding: 0;
  border: 0;

  background: transparent;
  color: var(--text);

  outline: 0;

  user-select: none;
}

dialog[data-overlay]::backdrop {
  background: transparent;
}
