:root {
  --white: #ffffff;
  --black: #000000;

  --shadow: 0 4px 16px #00000033;
  --thumb: var(--white);

  --error: #ff453a;
  --warning: #ff9500;
  --success: #34c759;
  --info: #3779ff;

  --active: var(--error);
  --focus: var(--info);

  --pointer: color-mix(in srgb, var(--hover) 20%, transparent);
  --overlay: linear-gradient(var(--pointer), var(--pointer));
}

:root,
:root[data-theme="light"] {
  color-scheme: light;

  --background: var(--white);
  --canvas: #f2f1f6;
  --panel: var(--white);
  --surface: var(--white);
  --neutral: #c9c8cd;

  --text: #181818;
  --mute: #6e6e6e;
  --border: #0000001f;
  --shade: #00000066;

  --track: #a4a3a8;
  --hover: #181818;
  --select: #e5e5ea;
}

:root[data-theme="dark"] {
  color-scheme: dark;

  --background: #181818;
  --canvas: #262626;
  --panel: #262626;
  --surface: #3a3a3c;
  --neutral: #161616;

  --text: #eeeeee;
  --mute: #a0a0a0;
  --border: #ffffff24;
  --shade: #00000099;

  --track: #646368;
  --hover: var(--white);
  --select: #292929;
}

:root[data-theme="black"] {
  color-scheme: dark;

  --background: var(--black);
  --canvas: var(--black);
  --panel: #262626;
  --surface: var(--black);
  --neutral: #161616;

  --text: var(--white);
  --mute: var(--white);
  --border: #ffffff24;

  --shade: #000000a3;

  --track: #646368;
  --hover: var(--white);
  --select: #292929;
}

.theme-color {
  background-color: var(--background);
  transition: none;
}

html,
body {
  background-color: var(--background);
  color: var(--text);

  transition:
    background-color 160ms ease,
    color 160ms ease;
}

@media (prefers-reduced-motion: reduce) {
  html,
  body {
    transition: none;
  }
}
